<%- include('../partials/header.ejs'); %>

<div class="content">
  <form action="">
    <input type="email" placeholder="email">
    <input type="password" placeholder="password">
  </form>
</div>

<%- include('../partials/footer.ejs'); %>
