<%- include('../partials/header.ejs'); %>

<div class="content">
  <form action="">
    <input type="text" placeholder="first name">
    <input type="text" placeholder="last name">
    <input type="email" placeholder="email">
    <input type="password" placeholder="password">
    <input type="password" placeholder="confirm password">
  </form>
</div>

<%- include('../partials/footer.ejs'); %>
